---
import fs from "fs";

let {
    image,
	name,
    url = image,
    imgName = new URL(image).pathname.split("/").pop(),
    size = 50,
    alt = "Image could not be loaded",
    ...props
}: Props = Astro.props;

if (!imgName) {
    throw `[astro-preload] name not provided and cannot be extracted from the url ${image}.\nPlease, provide a name.`;
}

if (!props.width && !props.height) {
    props.width = props.height = size;
}

// Download only on production to avoid downloading multiple times
if (process.env.NODE_ENV === "production" && !url.startsWith("/")) {
    try {
        const preloadDir = "public/preloaded/roundicon";
		const preloadBuildDir = "build/preloaded/roundicon";
        const path = `${preloadDir}/${imgName}`;
		const buildPath  = `${preloadBuildDir}/${imgName}`;

        if (!fs.existsSync(path)) {
            if (!fs.existsSync(preloadDir)){
                fs.mkdirSync(preloadDir, { recursive: true });
            }
            const response = await fetch(url);
            const blob = await response.blob();

            fs.writeFileSync(
                path,
                new Uint8Array(await blob.arrayBuffer())
            );
            console.log(
                `[astro-preload]: Downloaded image ${imgName} into ${path}`
            );
        }
        if (!fs.existsSync(path)) {
            if (!fs.existsSync(preloadBuildDir)){
                fs.mkdirSync(preloadBuildDir, { recursive: true });
            }
            const response = await fetch(url);
            const blob = await response.blob();

            fs.writeFileSync(
                buildPath,
                new Uint8Array(await blob.arrayBuffer())
            );
            console.log(
                `[astro-preload]: Downloaded image ${imgName} into ${buildPath}`
            );
        }

        url = import.meta.env.BASE_URL + `preloaded/roundicon/${imgName}`;
    } catch {
        console.log(
            `[astro-preload]: Failed to load image '${imgName}', fallback to using '${url}'`
        );
    }
}
---

<li class="flex hover:scale-125 duration-300">
  <a href={profile}>
    <img src={url} class="rounded-full !h-8 !w-8 object-cover" alt={name}  />
  </a>
</li>
